web: dynamicdns.park-your-domain.com/getip
protocol: namecheap
server: dynamicdns.park-your-domain.com
login: {{ .Values.ddns.hostname }}
password: {{ .Values.ddns.password }}
host: "{{ .Values.ddns.subdomain }}"
